.instructionElm {
    position: absolute;
    /* width: 460px; */
    width: 452px;
    /* pointer-events: none; */
}

/* .instructionElm.active {
    pointer-events: all;
} */

.instructionElm .editable .cursor {
    position: absolute;
    display: inline-block;
    width: 2px;
    background-color: #000000;
    height: 1.25em;
}

.instructionElm .inputCapture {
    position: absolute;
    width: 480px;
    height: 1px;
    opacity: 0;
    font: inherit;
    transform: scaleY(0.001);
    left: -1ch;
    margin: 0;
    border: 0;
    padding: 0;
    resize: none;
    pointer-events: none;
}

/* 
.instructionElm:focus .editorCursor {
} */

.instructionLine.jump {
    color: #ce3232;
    background-color: #f0cdcd;
}

.instructionLine.control {
    color: #3256ce;
    background-color: #cecdf0;
}

.instructionLine .controlBranchLine .op.eq::before {
    content: "=";
    /* sneakily convert '=' to '==' */
}

.instructionLine .editable {
    display: inline-block;
    white-space: pre;
}

.instructionLine [contenteditable] {
    outline: none;
}