.editorContainer {
    position: fixed;
    left: 0;
    top: 0;
    width: 67%;
    height: 100%;
    z-index: 0;
}

.dummyText {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: -100px;
    left: -100px;
}

.instructionGroup {
    position: absolute;
    /* width: 460px; */
    width: 452px;
    /* pointer-events: none; */
}

/* .instructionElm.active {
    pointer-events: all;
} */

.instructionGroup .editable .cursor {
    position: absolute;
    display: inline-block;
    width: 2px;
    background-color: #000000;
    height: 1.25em;
}

.instructionGroup .inputCapture {
    position: absolute;
    width: 480px;
    height: 1px;
    opacity: 0;
    font: inherit, monospace;
    transform: scaleY(0.001);
    left: -2ch;
    margin: 0;
    border: 0;
    padding: 0;
    resize: none;
    pointer-events: none;

    /** Prevent wrapping */
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;
}

/** Debug */

/* .instructionGroup .inputCapture {
    height: 64px;
    opacity: 0.4;
    transform: translateX(500px);
} */

.instructionLine .jump {
    color: #ce3232;
    background-color: #f0cdcd;
}

.instructionLine .control {
    color: #3256ce;
    background-color: #cecdf0;
}

.instructionLine .newInstructionLine {
    font-style: italic;
    color: #0000008c;
}

.instructionLine .controlBranchLine .op.eq::before {
    content: "=";
    /* sneakily convert '=' to '==' */
}

.instructionLine .editable {
    display: inline-block;
    white-space: pre;
    height: 1em;
}

.instructionLine .branchConnect {
    cursor: pointer;
    position: absolute;
    right: 8px;
}

.instructionLine .branchConnect::before {
    content: "[>]";
}

.instructionLine .branchConnect.active::before {
    content: "[click target...]";
    font-weight: bold;
}

.instructionLine [contenteditable] {
    outline: none;
}

.executerContainer {
    position: fixed;
    left: 67%;
    top: 0;
    width: 33%;
    height: 100%;
    background: #222222;
    z-index: 1;
    color: #cfcfcf;
}

.executerContainer .outputLog {
    padding: 8px;
    font-family: monospace;
    height: calc(100vh - 120px);
    overflow: auto;
}

.executerContainer .deleteAndReload {
    position: absolute;
    right: 8px;
    bottom: 8px;
    color: red;
}